<% layout('layouts/boilerplate') -%>
    <h1>Edit Post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="post[title]" value="<%= post.title %>"><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="post[content]" rows="4" cols="50"><%= post.content %></textarea><br>
        
        <label for="tags">Tags (comma-separated):</label><br>
        <input type="text" id="tags" name="post[tags]" value="<%= post.tags.join(', ') %>"><br>
        
        <button type="submit">Save Changes</button>
    </form>

