<% layout('layouts/boilerplate') -%>
    <h1>Your saved Posts</h1>
    <% for( let post of saved ) { %>
        <h3>
            <a href="/posts/<%=post._id %>"><%=post.title %></a>
            <h5><%=post.content%></h5>
        </h3>
        <hr>
        <% } %>
